<h1>Admin screen</h1>
<button type="button" onclick="alert('This Page is under construction')">Schedule Flight </button>
<button type="button" onclick="alert('This Page is under construction')">Remove Flight </button>
<button type="button" onclick="alert('This Page is under construction')">Process Date </button>
<button type="button" onclick="alert('This Page is under construction')">View Airports </button>
<button type="button" onclick="alert('This Page is under construction')">View Airlines </button>
<button type="button" onclick="alert('This Page is under construction')">View Customers</button>
<button type="button" onclick="alert('This Page is under construction')">View Owners </button>