<html>
    <head> <link rel="stylesheet" href="{{ url_for('static',filename='../static/styles/form3.css') }}"></head>
<body>

<div id="login">
    <form id="login_form" action="{{ url_for("gfg")}}" method="post" enctype="multipart/form-data">
      <div class="field_container">
        <input type="text" placeholder="Email Address" id="Email"name="Email">
      </div>
      
      <div class="field_container">
        <input type="Password" placeholder="Password" id="Pass" name="Pass">
        <button id="sign_in_button">
          <span class="button_text">Sign In</span>
        </button>
      </div>
          <div id="remember_me_container">
            <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
            <label class="login_link" for="user_remember_me" id="remember_me_label">stay signed in</label>
          </div>
          <div class="clearfix"></div>
        </div>
    <div id="dont_have_an_account">
      <h2>
        Need to <a href="/register" class="login_link">Register</a> for an account
      </h2>
    </div>
  </div>
  </body>
  </html>
