<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<title>Travel Reservation</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
	<div class="login main">
		<h1 class="h1 main">Travel Reservation</h1>
		<div class="links">
			<a href="{{ url_for('login') }}" class="active" name="login">Login</a>
			<a href="{{ url_for('register_customer') }}" class="inactive" name="login">New Customer</a>

		</div>
		<form action="{{ url_for('login') }}" method="post">
			<label for="email">
				<i class="fas fa-user"></i>
			</label>
			<input type="email" name="email" placeholder="Ex@email.com" id="email" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<div class="msg" display:>{{ msg }}</div>
			<input type="submit" value="Login">
		</form>
	</div>
</body>

</html>