<!DOCTYPE HTML>
<html>
	<head>
	    <title>Customer Register</title>
	    <meta charset="utf-8">
		    <title>GT Food Truck</title>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register main">
			<h1 class="h1main">Customer Registration</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register_customer') }}" class="active" name="login">New Customer</a>

			</div>
			<form action="{{ url_for('register_customer') }}" method="post" autocomplete="off">
				<label for="FirstName">
					<i>First Name</i>
				</label>
				<input type="text" name="firstName" placeholder="First" id="firstName" required>

				<label for="LastName">
					<i>Last Name</i>
				</label>
				<input type="text" name="lastName" placeholder="Last" id="lastName" required>
				<label for="email">
					<i class="fas fa-user"></i>
				</label>
				<input type="email" name="email" placeholder="Ex@email.com" id="email" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="confirm_password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
				<label for="Phonenumber">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="phonenumber" placeholder="404-468-8277" id="phonenumber" required>
				
				<br>



				<label for="cardno">
					<i class="fas fa-credit-card"></i>
				</label>
				<input type="text" name="cardno" placeholder="Card no. (e.g. 0000-0000-0000-0000)">

				<input type="text" name="cvvno" placeholder="CVV (e.g. 123)">
				

				<input type="month" name="expire" required="" style="margin-right: 120px; margin-bottom: 20px;">
				
				
				<input type="submit" value="Register Customer">
				<div class="msg" style="padding: 10px">{{ msg }}</div> 
			</form>
		</div>
	</body>
</html>