<h1 style="color: cornflowerblue;font: 1em sans-serif; font-size: larger;align-items: center;"> Schedule Flight</h1>
<h1>  </h1>
<h1> </h1>

<form action="{{ url_for("sc_flight")}}" method="post" enctype="multipart/form-data">
    <label for="Fno">Flight Number</label>
    <input type="text" id="Fno" name="Fno" placeholder="Flight Number">
    <label for="From Airport">From Airport:</label>
    <input type="text" id="From Airport" name="From Airport" placeholder="From Airport">
    <label for="To Airport">To Airport:</label>
    <input type="text" id="To Airport" name="To Airport" placeholder="To Airport">
    <label for="d_time">Departure Time:</label>
    <input type="time" id="d_time" name="d_time" placeholder="Departure Time">
    <label for="a_time">Arrival time:</label>
    <input type="time" id="a_time" name="a_time" placeholder="Arrival Time">
    <label for="Flight Date">Flight Date:</label>
    <input type="date" id="Flight Date" name="Flight Date" placeholder="Flight Date">
    <label for="Current Date">Current Date:</label>
    <input type="date" id="Current Date" name="Current Date" placeholder="Current Date" value={{cur_date}} readonly>
    <label for="Cost per person"> Cost per person:</label>
    <input type="number" id="Cost per person" name="Cost per person" placeholder="Cost per person">
    <label for="Capacity"> Capacity</label>
    <input type="number" id="Capacity" name="Capacity" placeholder="Capacity">
    <select name= airlines action="/">
        {% for a in airlines[1:] %}
        <option value= "{{a}}" SELECTED>{{a}}</option>"
        {% endfor %}
    </select>
    <input type="submit" value="Schedule Flight" name="sc"/>
    <input type="submit" value="Cancel" name="cancel" />
