<!DOCTYPE html>
<html>
<head>
	<script src=
    "https://www.kryogenix.org/code/browser/sorttable/sorttable.js">
        </script>
</head>
<body>

<input type="text" class="live-search-box" placeholder="search here" />

<table class="live-search-list sortable" type="None">
            <th>Name</th>
            <th>Average Rating</th>
            <th>Location</th>
            <th>Is Owner</th>
            <th>Total Seats Purchased</th>
        
        {% for a in customers %}
        <tr>
        {% for j in a %}
        <td>{{j}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
        

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
	jQuery(document).ready(function($){

$('.live-search-list tr').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});

$('.live-search-box').on('keyup', function(){

var searchTerm = $(this).val().toLowerCase();

	$('.live-search-list tr').each(function(){

		if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
			$(this).show();
		} else {
			$(this).hide();
		}

	});

});

});
</script>

</body>
</html>
